.navbar{
    box-shadow: 2px 2px 5px #BF4904;
    opacity: .9;
}

.navbar .navbar-brand {
    color: #fff;
}

.navbar .nav-item .nav-link {
    color: #fff;
}

.main-header {
    position: relative;
    background: url(../img/cabecera.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.About-us{
    background: #EEB13F;
}

.About-us .row .col1 {
    padding: 30px;
    width: 40%;
}

.About-us .row .col1 .subtitulo {
    color: #BF4904;
}

.About-us .row .col2 {
    padding: 30px;
    width: 40%;
}

.Servicios {
    position: relative;
    background: url(../img/servicios.jpg);
    background-size: cover;
    min-height: 400px;
}

.Planes {
    position: relative;
    background-color: #fff;
    background-size: cover;
    min-height: 520px;
}

.Contacto {
    position: relative;
    background-color: #F1DDB7;
    background-size: cover;
    min-height: 200px;
}

.Descargas {
    position: relative;
    background-color: #fff;
    background-size: cover;
    min-height: 100px;
}

/***************Video***************/

.video{
    width: 100%;
    padding: 60px;
    background-color: whitesmoke;
    
}

.video .seccion_video{
    background-color:#BF4904;
    border: 1px solid whitesmoke; 
    max-width: 900px;
    height: auto;
    margin: auto;
}

.video .seccion_video .VideoYoutube{
    position: relative;
    height: 0;
    padding-top: 50%;
    margin: 15px;
}

.video .seccion_video .VideoYoutube iframe{
    position: absolute;
    top:0;
    height: 0;
    width: 100%;
    height: 100%;
}

/***************RECETAS***************/

.recetas .row{
    width: 80%;
    margin: 100px auto;
    display: flex;
}

.recetas .row .col1{
    padding: 30px;
    width: 50%;
}

.recetas .row .col2{
    width: 50%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
}

.recetas .row .col2 img{
    width: 200px;
    height: 120px;
}

.recetas .row .col2 img:hover{
    transform: scale(1.02);
    transition: 0.5s;
    box-shadow: 0px 0px 3px 3px #BF4904;
}

@media(max-width:900px){
    .recetas .row{
        display: block;
    }

    .recetas .row .col1, .recetas .row .col2{
        width: 100%;
    }

    .recetas .row .col1 h2, .recetas .row .col1 p{
        text-align:center;
    }

    .recetas .row .col2 img{
        width: 300px;
        height: 220px;
    }

    .recetas .row .col2 img{
        text-align: center;
    }
}

@media(max-width:680px){

    .recetas .row .col2 {
        width: 100%;
        grid-template-columns: auto;
    }

    .recetas .row .celda {
        justify-self: auto;
    }
}